{% extends 'base.html.twig' %}

{% block title %}{{ article.title }}{% endblock %}

{% block body %}
<!-- SECTION - START -->

<section class="page-article">

    <h2>AUDI S5</h2>

    <article>

        <div class="article-images">

            <img src="{{ article.imageUrl }}" alt="{{ article.title }}">

        </div>

        <div class="article-content">

            <h2>{{ article.title }} :</h2>

            <p>{{ article.content }}</p>

        </div>

    </article>

</section>

<!-- SECTION - END -->
{% endblock %}