{% extends 'base.html.twig' %}

{% block title %}{{ article.title }}{% endblock %}

{% block body %}
<!-- SECTION - START -->

<section class="page-article">

    <h2>AUDI S5</h2>

    <article>

        <div class="article-images">

            <img src="{{ article.imageUrl }}" alt="{{ article.title }}">

            {% if is_granted('ROLE_ADMIN') %}

            <a class="btn" href="{{ path('app_admin_article_edit', {id: article.id}) }}">[ Modifier ]</a>
            <a class="btn" href="{{ path('app_admin_article_delete', {id: article.id}) }}">[ Supprimer ]</a>

            {% endif %}

        </div>

        <div class="article-content">

            <h2>{{ article.title }} :</h2>

            <p>{{ article.content }}</p>

        </div>

    </article>

</section>

<!-- SECTION - END -->
{% endblock %}